.content {
    margin-top: 100px;
    margin-left: 230px;
    display: flex;
    height: 60%;
}

.addTaskSection {
    display: flex;
    flex-direction: column;
    padding: 64px 24px;
    gap: 24px;
}

.addTaskForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 24px;

    input {
        border: none;
        border-bottom: 1px solid black;
        padding: 8px;
        width: 100%;
    }

    textarea {
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        padding: 8px;
        width: 100%;
    }
}


.priority {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.priority div {
    display: flex;
    gap: 16px;
}

.priorityBox {
    display: flex;
    gap: 8px;
    border: 1px solid lightgray;
    border-radius: 6px;
    padding: 6px;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.priorityBox svg {
    height: 16;
    width: 16;
}

.addTaskBtns {
    margin-top: auto;
    margin-left: auto;
}

.addTaskBtns button {
    padding: 6px 12px;
    border-radius: 6px;
}

.addTaskBtns button:nth-child(2) {
    background-color: blue;
    color: white;
}

.addTaskBtns button:nth-child(1) {
    color: black;
    background-color: white;
}

/* custom select box */
.customSelect {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-left: 24px;
}

.customSelect img {
    margin-left: auto;
}

.customSelect:hover {
    cursor: pointer;
}

.dividerHorizontal {
    border-top: 1px solid gray;
    width: 100%;
    margin-top: 4px;
}

.customSelect:hover + .dividerHorizontal {
    border-top: 1px solid blue !important;
}


/* custom select box */

/* custom select box options */
.options {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-left: 24px;
    margin-top: 8px;
}

.options span {
    padding: 4px;
    border-radius: 6px;
}

.options span:hover {
    background-color: lightskyblue;
    cursor: pointer;
}
/* custom select box options */