.addTaskbox {
    position: fixed;
    top: 0;
    right: -450px;
    transition-duration: 225ms;
    z-index: 15;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 400px;
    margin-top: 96px;
    background-color: white;
    border: 1px solid black;
}

.addTaskHeadline {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mainContent {
    min-height: calc(100vh - 96px);
    margin-top: 96px;
    margin-left: 232px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.findAndAdd {
    display: flex;
    gap: 32px;

    & input {
        width: 250px;
        border: 1px solid black;
    }
}

.taskContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.taskBox {
    border: 1px solid green;
    min-width: 252px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.taskHeadline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* todo Box */
.todoBox {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    width: 252px;
    padding: 16px;
    border-radius: 24px;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);

}

.toDoDiv {
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding: 16px;
}

.todoCategory {
    border-radius: 8px;
    color: white;
    padding: 4px 16px;
}

#todoTitle {
    font-size: 0.7rem;
}

#todoDescription {}

#todoSubtasks {}

.assignedAndPrio div:nth-child(1) {
    display: flex;
    gap: 4px;

    & span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid blue;
    }
}

#todoAssignedTo {}

#todoPriority {}

/* todo Box */