h2,
h3 {
    color: black !important;
}

.contactSection {
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 100vh;
    margin-left: 232px;
}

#allContacts{
    padding-top: 100px;
}

.contactList {
    display: flex;
    justify-content: center;
    width: 456px;
    overflow-y: scroll;
    margin-top: 96px;
    padding: 0 28px 0 52px;
}

.addBtnDiv {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    width: 357px;
}

.addBtn {
    gap: 10px;
    width: 100%;
    margin: 32px 0 17px 0;
    padding: 16px 10px;
}

.letterBox {
    width: 100%;
    font-size: 22px;
}

.letter {
    font-size: 22px;
    padding: 10px 0 25px 36px;
    outline: none;
    border-bottom: 1px solid rgba(209, 209, 209, 1);
}

.contactSmall {
    display: flex;
    align-items: center;
    margin-top: 8px;
    padding: 15px 24px;
    gap: 35px;
    font-size: 19px;
    border-radius: 10px;

    p {
        font-size: 16px;
        color: var(--clr-main1);
        padding-top: 5px;
    }

    &:hover {
        background-color: var(--clr-main2);
    }
}

.contactBgClicked {
    background-color: var(--clr-main1);
    color: white;

    &:hover {
        background-color: var(--clr-main1);
    }

    p {
        background-color: var(--clr-main1);
        color: white;
    }
}

.initials {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    width: 42px;
    aspect-ratio: 1/1;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

/*********************** Start floatingContact ***********************/

#floatingContact {
    display: flex;
    flex-direction: column;
    padding: 72px 0 0 62px;
    margin-top: 96px;
    gap: 21px;
}

.initialsFloating {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 47px;
    color: white;
    width: 120px;
    aspect-ratio: 1/1;
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

.floatingTop {
    display: flex;
    align-items: center;
    gap: 54px;
}

.floatingInteracts {
    display: flex;
    flex-direction: column;
    gap: 8px;

    span {
        font-size: 47px;
        font-weight: 500;
        gap: 5px;
    }
}

.floatingBtn {
    display: flex;
    gap: 16px;

}

.floatingBtn p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    transition: 0.1s;

    &:hover {
        color: var(--clr-blue);
        font-weight: 700;
    }
}

.floatingBottom {
    display: flex;
    flex-direction: column;
    gap: 21px;

    div {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}

#emailFloating {
    font-size: 16px;
    color: var(--clr-main1);
}




/*********************** Start Popup ***********************/

.back {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: all 225ms ease-in-out;
    background-color: #ffffff6a;
    z-index: 2;
}

#contactPopup {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 584px;
    height: 100vh;
    z-index: 999;
    transform: translateX(0px);
    transition: all 225ms ease-in-out;
}

.hidePopup {
    transform: translateX(4000px);
    transition: all 225ms ease-in-out;
}

#topPopup {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-lightblue);
    color: white;
    padding-bottom: 91px;
    gap: 12px;
    font-size: 58px;

    img {
        height: 66px;
    }

    span {
        font-size: 48px;
        font-weight: 700px;
    }

    p {
        font-size: 27px;
    }
}

#closePopup {
    display: flex;
    justify-content: flex-end;
    background-color: var(--clr-lightblue);
    border-top-left-radius: 30px;
    padding: 24px 24px 35px 0;

    img:hover {
        border-radius: 16px;
        background-color: var(--clr-main1);
        cursor: pointer;
    }
}

#bottomPopup {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid 1px #E3E3E3;
    border-top: none;
    height: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: white;
    padding: 0 81px;
}

#avatar {
    height: 120px;
    width: 120px;
    margin: 72px 0 32px 0;
}

.input-field {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 422px;

    img {
        position: absolute;
        margin-right: 16px;
    }
}



input {
    width: 100%;
    font-size: 20px;
    display: flex;
    padding: 12px 21px;
    margin: 16px 0 16px 0;
    align-items: center;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(209, 209, 209, 1);

    &:focus {
        border-bottom: 1px solid var(--clr-lightblue);
    }
}



#popupBtn {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 32px;
}

.btnCancel {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    border-radius: 10px;
    color: #647188;
    background-color: white;
    gap: 10px;
    font-size: 28px;
    border: 1px solid #647188;

    img {
        height: 24px;
    }

    &:hover {
        color: var(--clr-main1);
        border-color: var(--clr-main1);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px 0px;
    }
}

.btnCreate {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 10px;
    border-radius: 10px;
    border: none;
    background-color: var(--clr-main1);
    color: white;
    gap: 10px;
    font-size: 28px;

    img {
        height: 24px;
    }

    &:hover {
        background-color: var(--clr-lightblue);
        box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 8px 0px;
    }
}