body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: var(--clr-main1);
}

h1{
    margin: 0px 0 8px 0;
}

.sign-up-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

footer a {
    color: white;
    text-decoration: none;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    width: 100%;
}

.form-box {
    display: flex;
    width: 598px;
    .back-btn{
        position: relative;
        top: 40px;
        right: 248px;
    }
}

.underline {
    width: 40%;
}

@media screen and (max-width:720px) {
    .form-box {
        width: 396px;
    }

    .arrow_left {
        margin-left: -160px;
        margin-top: 48px;
    }

    .btn-box {
        margin: 24px 0 12px 0;
        height: 50px;
    }

    h1 {
        margin: 8px 0 8px 0;
    }
}