<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="./assets/css/desktop_tmpl.css">
<link rel="stylesheet" href="./assets/css/fonts.css">
<link rel="stylesheet" href="./style.css">
<link rel="stylesheet" href="./assets/css/mobile.css">
    <header>
        <img class="header-logo" src="/assets/img/logo.png">
        <div class="info-container">
            <span>Kanban Project Management Tool</span>
            <div id="header-info" class="help-container">
                <a href="./help.html"><img class="help-logo cp" src="./assets/img/help.png"></a>
                <button class="user-profile cp" onclick="showLogoutMenu()">
                    <div class="ellipse">
                        <div class="user-initial">
                            <span id="userInitial"></span>
                        </div>
                    </div>
                </button>
            </div>
        </div>
        <div class="logout-menu d-none" id="logout-menu">
            <a href="./legal_notice.html">Legal Notice</a>
            <a href="./privacy_policy.html">Privacy Policy</a>
            <a href="./index.html" onclick="logout()">Log out</a>
        </div>
    </header>
    <nav>
        <div id="navLinks" class="links">
            <a href="./summary.html" id="summary-nav"><img src="./assets/img/summary.png"><span>Summary</span></a>
            <a href="./add_tasks.html" id="addTask-nav"><img src="./assets/img/add_task.png"><span>Add Task</span></a>
            <a href="./board.html" id="board-nav"><img src="./assets/img/board.png"><span>Board</span></a>
            <a href="./contacts.html" id="contacts-nav"><img src="./assets/img/contacts.png"><span>Contacts</span></a>
        </div>
    </nav>
    <li class="legal-topics-side-menu">
        <a href="./privacy_policy.html">Privacy Policy</a>
        <a href="./legal_notice.html">Legal notice</a>
    </li>
    <div id="mobileNavLinks" class="mobile-links cp d-none">
        <a href="./summary.html" id="summary-nav-mobile"><img src="./assets/img/mobile_summary.svg"></a>
        <a href="./add_tasks.html" id="addTask-nav-mobile"><img src="./assets/img/mobile_board.svg"></a>
        <a href="./board.html" id="board-nav-mobile"><img src="./assets/img/mobile_addtask.svg"></a>
        <a href="./contacts.html" id="contacts-nav-mobile"><img src="./assets/img/mobile_contacs.svg"></a>
    </div>
<script src="./js/login.js"></script>
<script src="./js/sign_up.js"></script>